<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="container-fluid">
	<div class="jumbotron vertical-center">
	<p><h1 class="text-center">Cultural differences are a strong asset.</h1></p>
	<p><h2 class="text-center">Learn how to make the most of it !</h2></p>
</div>
</div>

<div class="container-fluid vertical-center">
<div class="btn-group btn-lg btn-justified">
	  <button type="button" class="btn btn-success"><h3>OUR SERVICES</h3></button>
	  <button type="button" class="btn btn-warning"><h3>OUR NETWORK</h3></button>
	  <button type="button" class="btn btn-info"><h3>OUR PARTNERS</h3></button>
</div>
</div>