<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="container-fluid">
	<div class="jumbotron vertical-center">
	<p><h1 class="text-center">Las diferencias culturales son una riceza.</h1></p>
	<p><h2 class="text-center">Podrian ser una ventaja !</h2></p>
</div>
</div>

<div class="container-fluid vertical-center">
<div class="btn-group btn-lg btn-justified">
	  <button type="button" class="btn btn-success"><h3>NUESTROS SERVICIOS</h3></button>
	  <button type="button" class="btn btn-warning"><h3>NUESTRA RED</h3></button>
	  <button type="button" class="btn btn-info"><h3>NUESTROS SOCIOS</h3></button>
</div>
</div>