<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="container-fluid">
	<div class="jumbotron vertical-center">
	<p><h1 class="text-center">Les différences culturelles sont une richesse.</h1></p>
	<p><h2 class="text-center">Aimeriez-vous en tirer profit ?</h2></p>
</div>
</div>

<div class="container-fluid vertical-center">
<div class="btn-group btn-lg btn-justified">
	  <a href="services"><button type="button" class="btn btn-success"><h3>NOS SERVICES</h3></button></a>
	  <button type="button" class="btn btn-warning"><h3>NOTRE RESEAU</h3></button>
	  <button type="button" class="btn btn-info"><h3>NOS PARTENAIRES</h3></button>
</div>
</div>