<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <%= link_to image_tag("mondialink.png", :alt => "Logo de Mondialink"), root_path %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <%= link_to image_tag("francais.png", :alt => "Icone Drapeau Français"), fr_path %><br><br>
        <%= link_to image_tag("espagnol.png", :alt => "Icone Drapeau Français"), es_path %><br>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>